<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
            <style>
                html {
                    font-size: 24px;
                }
            </style>
        {% endblock %}

        {% block javascripts %}
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
            <div class="container">
                <a class="navbar-brand" href="#">Vasco</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item {{ app.request.attributes.get('_route') == 'form' ? 'active' : '' }}">
                            <a class="nav-link" href="{{ path('form') }}">Form</a>
                        </li>
                        <li class="nav-item {{ app.request.attributes.get('_route') == 'ast-questions' ? 'active' : '' }}">
                            <a class="nav-link" href="{{ path('ast-questions') }}">AST</a>
                        </li>
                        {% if app.user %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_logout') }}">Logout</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        {% block body %}{% endblock %}
        <footer class="position-fixed w-100 mb-4" style="bottom:0; background: white; z-index: 10000000">
            <hr>
            <p class="text-center">
                Demo for SymfonyCon 2023 : <a href="https://rjanot.github.io/expression-language-sfcon2023/">ExpressionLanguage : Beyond the framework</a>
            </p>
        </footer>

    </body>
</html>
